<div class="hero min-h-screen bg-contain md:bg-cover" style="background-image: url(<%= image_url('AdobeStock_481994179.jpg') %>);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-6xl font-bold">Floss Buddy</h1>
      <p class="mb-5 text-xl">~LINEで手軽に。フロスの習慣化！~</p>
      <div class="md:hidden">
        <p class="mb-2 text-md">友達になって今すぐ始める</p>
        <%= link_to "https://lin.ee/utJYG6V", target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag("https://scdn.line-apps.com/n/line_add_friends/btn/ja.png", alt: "友だち追加", class: "mx-auto h-10 border-none") %>
        <% end %>
      </div>
      <div class="hidden md:block pt-3">
        <p class="mb-2 text-md">スマホでQRコードを読み取って今すぐ始める</p>
        <%= image_tag("https://qr-official.line.me/gs/M_250efiuz_BW.png?oat_content=qr", alt: "QRコード", class: "hidden md:block mx-auto h-24") %>
      </div>
    </div>
  </div>
</div>
<div class="hero min-h-screen py-10 bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h2 class="my-12 text-5xl font-bold">Floss Buddyの始め方</h2>
      <div class="hero-content flex-col lg:flex-row">
        <img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h3 class="text-3xl font-bold">お手軽アカウント登録</h3>
          <p class="py-6 text-left">LINE友達になったら、リンクをタップ！<br>これだけでアカウント登録が完了します面倒なメールアドレスやパスワードの設定は不要です。</p>
        </div>
      </div>
      <div class="hero-content flex-col lg:flex-row-reverse">
        <img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h3 class="text-3xl font-bold">フロスを知る</h3>
          <h4 class="text-xl font-bold pt-6 text-left">フロスって何が良いんだっけ？</h4>
          <p class="text-left">「フロスの効果」をタップ。Floss Buddyが教えてくれます。</p>
          <h4 class="pt-3 text-xl font-bold text-left">フロスってどうやってやるの？</h4>
          <p class="pb-6 text-left">「フロスのやり方」をタップ。Youtubeを見ながらやってみよう！</p>
        </div>
      </div>
      <div class="hero-content flex-col lg:flex-row">
        <img src="https://daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h3 class="text-3xl font-bold">フロス記録をつける</h3>
          <p class="py-6 text-left">当日もしくは前日の日付をLINE上で簡単登録。記録をするとFloss Buddyから応援メッセージと習慣化の進捗が分かる画像が送られます。徐々に変化するイラストを楽しみながらフロスを続けましょう！</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="md:hidden mt-4">
    <p class="mb-2 text-md">友達になって今すぐ始める</p>
    <%= link_to "https://lin.ee/utJYG6V", target: "_blank", rel: "noopener noreferrer" do %>
    <%= image_tag("https://scdn.line-apps.com/n/line_add_friends/btn/ja.png", alt: "友だち追加", class: "h-10 border-none") %>
    <% end %>
  </div>
  <div class="hidden md:block pt-3">
    <p class="mb-2 text-md">スマホでQRコードを読み取って今すぐ始める</p>
    <%= image_tag("https://qr-official.line.me/gs/M_250efiuz_BW.png?oat_content=qr", alt: "QRコード", class: "hidden md:block mx-auto h-24") %>
  </div>
</div>
